[submodule "de-etl-jobs"]
	path = bi-airflow-dags
	url = git@github.com:mrge-group/bi-airflow-dags.git
	branch = main
[submodule "data-platform"]
	path = data-platform
	url = git@github.com:mrge-group/data-platform.git
	branch = main
[submodule "data-platform-dagster-group"]
	path = data-platform-dagster-group
	url = git@github.com:mrge-group/data-platform-dagster-group.git
	branch = main
[submodule "data-platform-infra"]
	path = data-platform-infra
	url = git@github.com:mrge-group/data-platform-infra.git
	branch = main
[submodule "databricks-assets"]
	path = databricks-assets
	url = git@github.com:mrge-group/databricks-assets.git
	branch = main
