[submodule "data-platform-etl"]
	path = data-platform-etl
	url = git@github.com:mrge-group/data-platform-etl.git
	branch = main
[submodule "data-platform"]
	path = data-platform
	url = git@github.com:mrge-group/data-platform.git
	branch = main
[submodule "data-platform-dagster-group"]
	path = data-platform-dagster-group
	url = git@github.com:mrge-group/data-platform-dagster-group.git
	branch = main
[submodule "data-platform-infra"]
	path = data-platform-infra
	url = git@github.com:mrge-group/data-platform-infra.git
	branch = main
[submodule "bi-airflow-dags"]
	path = bi-airflow-dags
	url = git@github.com:mrge-group/bi-airflow-dags.git
	branch = main
